---
import Layout from '../layouts/Layout.astro';
import { SITE } from '../config';
---

<Layout title={SITE.name} description={SITE.description}>
  <main>
    <h1>{SITE.name}</h1>
    <div id="CanvasContainer">
      <canvas></canvas>
    </div>
  </main>
</Layout>
