---
import Layout from '../layouts/Layout.astro';
import { SITE } from '../config';
import home_frame from "../assets/img/home-frame.png"
---

<Layout title={SITE.name} description={SITE.description}>
  <main>
    <img class="home-frame" src={home_frame.src} alt="">
    <div id="maincanvas">
      <canvas></canvas>
    </div>
  </main>
</Layout>
