---
import Layout from '../layouts/Layout.astro';
import { SITE } from '../config';
import '@assets/css/works.css';
---

<Layout title={`Works | ${SITE.name}`} description={SITE.description}>
  <div id="CanvasContainer">
    <canvas></canvas>
  </div>
   <div class="project-label" id="project-label">
      <div class="title"></div>
      <div class="category"></div>
      <p>
        <a class="link" href="about.html"></a>
      </p>
    </div>
</Layout>
